@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e6fbf2;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  overflow-x: hidden;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper {
  width: 800px !important;
}

@media (max-width: 300px) {
  .swiper {
    width: 250px !important
  }
}